.idea
.git
# Byte-compiled / optimized / DLL files
__pycache__/
./libraries/__pycache__/*.py[cod]
*.py[cod]
*$py.class
*.DS_Store
*.key
*.csr
*.crt
.env
demo_values.json
src/python_application/capif_onboarding/*
!src/pythonnetapp/capif_onboarding/.gitkeep
